.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #eef5ff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 50px;
  background: #d7ebff;
  border-bottom: 4px solid #9ec8f5;
}

.date {
  font-size: 2rem;
  font-weight: 500;
}

.clock {
  font-size: 4.5rem;
  font-weight: bold;
}

.main {
  flex: 1;
  padding: 50px;
}

.main h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}

.schedule {
  width: 70%;
  margin: auto;
}

.schedule-item {
  display: flex;
  gap: 40px;
  font-size: 2rem;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.time {
  width: 120px;
  font-weight: bold;
}

.footer {
  background: #d7ebff;
  border-top: 2px solid #9ec8f5;
  padding: 18px 30px;
  font-size: 1.5rem;
}

.school-name{
    font-size:2.4rem;
    font-weight:bold;
}

.header-right{
    text-align:right;
}

.timeline{
    width:70%;
    margin:auto;
}

.timeline-item{
    display:grid;
    grid-template-columns:120px 50px 1fr;
    align-items:center;
    min-height:90px;
}

.timeline-line{
    position:relative;
    height:100%;
    border-left:4px solid #3d78b9;
}

.dot{
    position:absolute;
    left:-10px;
    top:34px;
    width:18px;
    height:18px;
    border-radius:50%;
    background:#3d78b9;
}

.timeline-title{
    font-size:2rem;
}

.current .timeline-title,
.current .timeline-time{
    color:#d60000;
    font-weight:bold;
}

.current .dot{
    background:#d60000;
}
.footer {
  height: 70px;
  background: #0f3f75;
  color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.ticker {
  width: 100%;
  overflow: hidden;
}

.ticker-track {
  display: inline-flex;
  white-space: nowrap;
  animation: ticker-scroll 30s linear infinite;
}

.ticker-track span {
  padding-right: 120px;
  font-size: 1.8rem;
  font-weight: 600;
}

@keyframes ticker-scroll {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}